@font-face {
    font-family: Maplestory;
    src: url("../font/Maplestory_Light.ttf");
}

body {
    font-family: 'Maplestory', sans-serif;
}

#name-search-btn {
    color: white;
    background-color: #d13639;
}